.pic1{
margin-top: 10px;
    margin-left: 15cm;
    border-radius: 23px;
}
body{
background-color:rgb(171, 235, 240);
color: black
    
}
h1{
    font-style:oblique;
    margin-left: 17cm ;
}
h2{
    margin-left: 2cm;
    text-decoration: underline;
    
}
.fa-solid{
    color: rgba(13, 13, 14, 0.521);
    margin-left: 3cm;
    
}
.done{
    text-decoration: line-through;
    color: black;
    
  }
  .bt {
    margin-left: 1cm;
  }
  .pa{
    margin-left: 1cm;

  }
  